<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Desculpe, ocorreu um erro, página solicitada não encontrada!
        </div>
        <div class="error-actions">
          <a routerLink="/home" class="btn btn-primary btn-lg mr-3"><span class="glyphicon glyphicon-home"></span>
            Voltar para a Home </a><a href="https://www.linkedin.com/in/matheus-silva25/" target="blank"
            class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contato para suporte </a>
        </div>
      </div>
    </div>
  </div>
</div>
