<div class="container-fluid bg2 pt-5 pb-5">

  <div class="row d-flex align-items-center">

    <div class="col-md-6 d-flex justify-content-center">

      <img src="https://i.imgur.com/LN51C3n.png" alt="" width="400" height="350">

    </div>

    <div class="col-md-6 mt-3">

      <p class="text-white">Liberte o poder transformador da tecnologia em sua empresa. A Visie ajuda você a transformar seus processos
        de negócios e seus relacionamentos com clientes, fornecedores e parceiros de negócios.</p>
      <a routerLink="/login" class="btn text-white">Tabela Pessoas</a>
    </div>

  </div>

</div>
