<div class="container-fluid">

  <div class="container mt-5 mb-5">

    <h1 class="text-center"> PÁGINA EM CONSTRUÇÃO </h1>

    <div class="row">

      <div class="col-md-12 ">

        <h3 class="text-center"> Ops!!! Estamos construindo essa páginas ainda, volte aqui em breve! </h3>
        <p class="text-center"><img src="https://i.imgur.com/iIAAAvO.png" alt=""></p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12 text-center">

        <a routerLink="/home" class="btn btn-primary btn-lg mr-3"><span class="glyphicon glyphicon-home"></span>
          Voltar para a Home </a><a href="https://www.linkedin.com/in/matheus-silva25/" target="blank"
          class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contato para suporte </a>

      </div>

    </div>

  </div>

</div>
